<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegionServlets</servlet-name>
        <servlet-class>servlets.RegionServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegionServlet</servlet-name>
        <servlet-class>servlets.RegionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationServlet</servlet-name>
        <servlet-class>servlets.LocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobServlet</servlet-name>
        <servlet-class>servlets.JobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountryServlet</servlet-name>
        <servlet-class>servlets.CountryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>servlets.DepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>servlets.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccountServlet</servlet-name>
        <servlet-class>servlets.UserAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BotDetect Captcha</servlet-name>
        <servlet-class>com.captcha.botdetect.web.servlet.CaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegionServlets</servlet-name>
        <url-pattern>/regionServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegionServlet</servlet-name>
        <url-pattern>/regionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationServlet</servlet-name>
        <url-pattern>/locationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobServlet</servlet-name>
        <url-pattern>/jobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountryServlet</servlet-name>
        <url-pattern>/countryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/departmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/employeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccountServlet</servlet-name>
        <url-pattern>/userAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BotDetect Captcha</servlet-name>
        <url-pattern>/botdetectcaptcha</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
